.model-settings {
    position: absolute;
    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    height: 300px;
    width: 260px;
    z-index: 10;

    color: white;
    font-family: Lato;
    
    padding: 20px;
    background-color:#424549;
    border-radius: 4px 0px 0px 4px;
}

.model-setting-item {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 20px;
}

.amount-input {
    width: 100px;
}

.model-setting-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testing-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.none {
    color: white;
}

.good {
    color: #B0FC38
}

.ok {
    color: orange;
}

.bad {
    color: #FF2400;
}